data
dataset
venv
.venv

*.pyc
__pycache__
*log*
cached_datasets
*checkpoint*
*.minted
*.pt
*.pkl
*.ptl
*.csv

_rapport/_minted-rapport
_rapport/*.aux
_rapport/*.bcf
_rapport/*.lof
_rapport/*.log
_rapport/*.nlo
_rapport/*.out
_rapport/*.toc